<div class="container">
  <h3>My Chat Room</h3>
  <form >
    <div class="join" data-aos="fade-up">
      <div class="form-group" *ngIf="isinRoom">
        <label for="messagecontent">New Message: </label>
        <input
          type="text"
          [(ngModel)]="messagecontent"
          name="messagecontent"
          id="messagecontent"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <button *ngIf="isinRoom" (click)="chat(messagecontent)" class="btn btn-primary">Chat</button>
        &nbsp;
        <button *ngIf="!isinRoom" (click)="joinroom()" class="btn btn-primary">Join</button> &nbsp;
        <button *ngIf="isinRoom" (click)="leaveroom()" class="btn btn-primary">Leave</button>
      </div>
      <select [(ngModel)]="group" name="group" (change)="channellist()">
        <option [ngValue]="null">Select Group</option>
        <option *ngFor="let g of groupList" [ngValue]="g">{{ g }}</option>
      </select>
      <select [(ngModel)]="roomlist" name="roomlist">
        <option [ngValue]="null">Select Room</option>
        <option *ngFor="let room of channelsList">{{ room }}</option>
      </select>
    </div>
    
    <div class="new-room card" data-aos="fade-up">
      <label for="newroom">New Room</label>
      <input type="text" [(ngModel)]="newroom" name="newroom" id="newroom" class="form-control" />
      <button (click)="createroom()" class="btn btn-primary">Create New Room:</button>
    </div>

  </form>
  <div class="room-notice card" data-aos="fade-up">
    <h6>Room Notice:</h6>
    <p>{{ roomnotice }}</p>
    <button (click)="clearnotice()" class="btn btn-primary">Clear Notice</button>

    <div class="chat">
      <h6>Chat Messages for {{ currentroom }} - {{ numusers }} Active Users</h6>
      <ul>
        <li *ngFor="let message of messages">{{ message }}</li>
      </ul>
    </div>
  </div>
</div>
